[Desktop Entry]
Encoding=UTF-8
Name=Dwm
Comment=Dynamic window manager
Exec=/home/morano/Programs/dwm/installation_utils/run_dwm
Icon=dwm
Type=XSession
